<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.ruide.po.Dept" alias="Dept"/>
		<typeAlias type="com.ruide.po.Emp" alias="Emp"/>
		<typeAlias type="com.ruide.po.Ivip" alias="Ivip"/>
		<typeAlias type="com.ruide.po.Imember" alias="Imember"/>
		<typeAlias type="com.ruide.po.Imemberdtail" alias="Imemberdtail"/>
	</typeAliases> 
	<plugins>  
	    <plugin interceptor="com.github.pagehelper.PageHelper">  
	        <property name="dialect" value="mysql"/>  
	        <property name="offsetAsPageNum" value="true"/>  
	        <!-- rowBoundsWithCount设置为true时，使用 RowBounds 分页会进行 count 查询。 -->  
	        <property name="rowBoundsWithCount" value="true"/>  
	        <!-- pageSizeZero 为 true， 当 pageSize=0 或者 RowBounds.limit = 0 就会查询出全部的结果 -->  
	        <property name="pageSizeZero" value="true"/>  
	        <!-- reasonable 为 true，这时如果 pageNum<=0 会查询第一页，如果 pageNum>总页数 会查询最后一页 -->  
	        <property name="reasonable" value="true"/>  
	            <property name="returnPageInfo" value="check"/>  
	    </plugin>  
 	</plugins>
	<mappers>
		<mapper resource="com/ruide/dao/Dept.xml" />
		<mapper resource="com/ruide/dao/Ivip.xml" />
		<mapper resource="com/ruide/dao/Imember.xml" />
		<mapper resource="com/ruide/dao/Imemberdetail.xml" />
		<!-- <mapper resource="com/ruide/dao/Emp.xml"/> -->
	</mappers>
	
</configuration>